body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.wrapper {

  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding: 1rem 1.5rem;
  /* border-radius: 0.5rem; */
}

nav img{
  position: relative;
  bottom: 1.65rem;
  height: 5rem;
  width: 7rem;
}
nav .logo {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2.5px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav a {
  text-decoration: none;
  color: rgb(255, 248, 248);
}
.menu{
  position: relative;
  right: 2rem;
  bottom: 1.5rem;
}
.menu a{
  gap: 2rem;
}
.menu a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.menu a:active {
  color: #ff0000;
}
nav #toggle,
nav label {
  display: none;
}
@media (max-width: 40.625em) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav .button {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label {
    display: inline-flex;
    color: wheat;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
}

  




/* Styling for main content */
main {
  padding: 40px;
}

section {
  margin-bottom: 60px;
}

section h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  /* margin-bottom: 1rem; */
  position: relative;
  bottom: 0.8rem;
}
/* .donors h2{
 
} */

form label {
  font-size: 24px;
  margin-bottom: 10px;
}

form input {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}
form input:hover{
  box-shadow: 3px 2px 1px rgba(29, 28, 28, 0.829);
}

form button {
  background-color: #3f51b5;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
}

form button:hover {
  background-color: #2c3e50;
  cursor: pointer;
}

/* Styling for footer */
footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #080808;
  color: #fff;
  /* padding: 3px; */
  text-align: center;
}

footer p {
  font-size: 20px;
}

/* Modal styles */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
