body{
    color: black;
}



  /* styling for Navigation menu */
  .wrapper {
      /* backdrop-filter: blur(10px); */
    width: 100%;
    height: 3rem;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(0, 0, 0);
    padding: 1rem 1.5rem;
  }
  nav img{
    position: relative;
    bottom: 1.65rem;
    height: 5rem;
    width: 7rem;
  }
  .carousel-item img{  
    height: 92vh;
filter: grayscale(80%);
  }
  nav .logo {
    font-family: 'Orbitron', sans-serif;
  letter-spacing: 2.5px;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  nav a {
    text-decoration: none;
    color: rgb(255, 248, 248);
  }
  .menu{
    position: relative;
    bottom: 1.95rem;
  }
  .menu a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .menu a:active {
    color: #ff0000;
  }
  .menu button{
    border-radius: 5px;
  }
  nav #toggle,
  nav label {
    display: none;
  }
  @media (max-width: 40.625em) {
    nav .menu {
      width: 100%;
      height: 0;
      overflow: hidden;
    }
    nav .button {
      flex-direction: column;
      align-items: center;
      padding: 0.5rem 0;
    }
    nav label {
      display: inline-flex;
      color: wheat;
      cursor: pointer;
    }
    nav #toggle:checked ~ .menu {
      height: 100%;
    }
  }
  .carousel-caption p{
    font-size: 2.5rem;
    font-family: 'Philosopher', sans-serif;
    font-weight: 1000;
    position: relative;
    right:  5rem;
    bottom: 12rem;
    width: 55%;
    text-align: left;
    text-shadow: 2px 2px 2px black;
  }
  .carousel-caption h5{
    position: relative;
    right:  20rem;
    bottom: 10.5rem;
    font-size: 7rem;
    font-family: 'Philosopher', sans-serif;
    text-shadow: 2px 2px 2px black;
  }

.slide3{
  position: relative;
  top: 13.5rem;
}
  .button {
    background-color: transparent;
    font-family: 'Dosis', sans-serif;
  font-family: 'Roboto Condensed',sans-serif;
    font-size: 15px;
   
    border: none;
    color: #fff;
    font-weight: 400;
  }
  .button:hover {
    font-size: 16px;
    font-weight: 500;
    transition: color 0.18s ease-in-out;
    color: rgb(212, 17, 163);
  }
  

















/* ************************************* SECTION 2 ********************************************************* */



.part2::before {
    background: url("image/BG2.jpg") no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.87;
  }
  
  .home p {
      font-size: 45px;
    font-family: 'Bona Nova', serif;
    font-weight: 800;
    color: white;
    width:30%;
    text-align: left;
    position: relative;
    left: 5rem;
    top:  2.5rem;
  }
  
  .home button {
    border: 2px solid white;
  
    background-color: transparent;
    /* border-radius: 5px; */
    color: #000000;
    font-size: 24px;
    padding: 5px 20px;
    /* transition: background-color 0.3s ease-in-out; */
  
    /* 
  TO SWITCH POSTION */
    position: relative;
    left:  5rem;
    top:2rem ;
  /* 
   bottom: 1rem; */
  }
  
  .btn {
    background: none;
    border: 2px solid #000;
    min-width: 200px;
  
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
  }
  .btn:hover {
    color: #000000;
  }
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f1f0f0;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  .btn1::before {
    transform: scaleY(0);
  }
  .btn1:hover::before {
    transform: scaleY(1);
  }

  .home button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  
    font-size: 2rem;
  }
  
  .home button:hover {
    cursor: pointer;
  }
  

  .home button a:hover {
    color: black;
  }















  /* *************************************SECTION3****************************************************** */

  .fame::before {
    background: rgb(235, 235, 235) no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 200vh;
    left: 0;
    width: 100%;
    height: 130%;
    z-index: -1;
    opacity: 0.87;
  }
  .fame h2 {
    position: relative;
    font-size: 4rem;
    top: 12.2rem;
    left: 2.4rem;
    font-family: "Oswald", sans-serif;
    margin-left: 2rem;
    width: 50%;
  }
  .fame h2:before,
  .fame h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease;
  }
  
  .fame h2:hover:before {
    width: 100%;
  }
  .fame h2:hover:after {
    left: 100%;
    width: 0;
  }
  .ALLPROFILE {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    position: relative;
    margin-left: 3.8rem;
    top: 16rem;
}
  
  .card {
    position: relative;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    width: 200px;
    aspect-ratio: 1/1;
  }
  
  .card img {
    width: 100%;
    height: 100vh;
    transition: transform 0.5s;
  }
  
  .card:hover img {
    transform: scale(1.2);
    filter: blur(3px);
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.5s;
  }
  
  .card:hover .overlay {
    transform: translateY(0);
  }
  
  .overlay h2 {
    margin-top: 0;
    color: white;
  }
  .overlay a {
    text-decoration: none;
    font-weight: 400;
    color: white;
  }
  .overlay p {
    margin-bottom: 0;
  }
  
  .fameINTRO p{  
        position: absolute;
        float: right;
   top: 93.4rem;
   right: 5rem;
  
   font-family: 'Dosis', sans-serif;
   font-family: 'Dosis', sans-serif;
   font-family: 'Roboto Condensed',sans-serif;
      width: 65%; 
  
  
        flex: 1 1 50%;
        padding: 0 2rem;
        text-align: justify;
        font-size: 1.25rem;
      
  }
















  /* *************************************SECTION4****************************************************** */

.contact::before {
    background:linear-gradient(-45deg, #d4af0a, #30089c) no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 330vh;
    left: 0;
    width: 100%;
    height: 38.3%;
    z-index: -1;
  }
  .links {
    display: flex;
    gap: 2rem;
    position: relative;
  margin-top: 15.5rem;
    top: 5rem;
    margin-left: 30.8rem;
  }
  .links a {
    width: 42px;
    height: 42px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .links a .fa-brands {
    font-size: 20px;
    line-height: 45px;
    /* z-index: 10; */
    transition: color 0.5s;
  }
  
  .links a .fa-regular {
    font-size: 20px;
    line-height: 45px;
    /* z-index: 10; */
    transition: color 0.5s;
  }
  .links a::after {
    content: "";
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(-45deg, #ed1c94, #ffec17);
    position: absolute;
    transition: 0.5s;
    z-index: -10;
  }
  .links a:hover::after {
    top: 0;
  }
  .links a:hover .fa-brands {
    color: white;
  }
  .links a:hover .fa-regular {
    color: white;
  }
  .links a:hover {
    transform: translateY(-5px);
  }
  .container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 7.5rem;
    /* specify a height for the container */
    height: 110px;
  }
  
  .vertical-line {
    width: 1px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    /* top: 4.5rem; */
    left: 50%;
    transform: translateX(-50%);
  }
  .address a{
    text-align: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    left: 52%;
/*     bottom:  0.8rem; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
  }
  .address a:hover{
    text-decoration: underline;
  }
  .connection{
    text-align: right;
    position: absolute;
    top: 148.4rem;
    left: 33%;
  }
  .connection p{
    position: relative;
    color: white;
    bottom: 0.6rem;
  }
  .connection h5{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
